blosc==1.11.1
Cartopy==0.20.2
cryptography==38.0.4
cudem==1.10.6
dask_geopandas==0.3.1
dateparser==1.0.0
GDAL==3.5.0
geopandas==0.13.2
h5py==3.4.0
import_parent_dir==0.1.1
matplotlib==3.4.3
numexpr==2.8.3
numpy==1.21.2
osgeo==0.0.1
pandas==1.4.3
psutil==5.8.0
pyproj==3.3.1
python_dateutil==2.8.2
rich==13.6.0
Rtree==1.0.0
Shapely==1.8.2
six==1.16.0
tables==3.7.0
